@font-face {font-family: myfont; src:url(BabyNasha-Wym7z.ttf)}
p{color:black;font-family:'Times New Roman', Times, serif ;text-align: center;padding-top: 15px;}
h2{border-style: ridge;}
span{color: red ; font-size: 14pt;}
div{background-color:yellow;}