@font-face {font-family: myfont; src:url(BabyNasha-Wym7z.ttf)}
p{color:black;font-family:'Times New Roman', Times, serif ;text-align: center;margin-left: 50px;padding-top: 15px;}
h2{border-style: ridge;}
span{margin-top: 50px;}
div{background-color:yellow;}